# Introduction / Description

# Import Python packages

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

import os # doesnt have to be installed with pip

# set default figure size
plt.rcParams["figure.figsize"] = (8, 5)

# Display all columns with pandas
pd.options.display.max_columns = None

In [16]:
df = pd.read_csv('data/Kickstarter_preprocessed.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209222 entries, 0 to 209221
Data columns (total 75 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   backers_count                      209222 non-null  int64
 1   description                        209214 non-null  object
 2   converted_pledged_amount           209222 non-null  int64
 3   country                            209222 non-null  object
 4   created_at                         209222 non-null  int64
 5   currency                           209222 non-null  object
 6   currency_symbol                    209222 non-null  object
 7   currency_trailing_code             209222 non-null  bool
 8   current_currency                   209222 non-null  object
 9   deadline                           209222 non-null  int64
 10  disable_communication              209222 non-null  bool
 11  friends                            300 non-null     object
 12  fx_rate                            209222 non-null  float64
 13  goal                               209222 non-null  float64
 14  id                                 209222 non-null  int64
 15  is_backing                         300 non-null     object
 16  is_starrable                       209222 non-null  bool
 17  is_starred                         300 non-null     object
 18  launched_at                        209222 non-null  int64
 19  name                               209222 non-null  object
 20  permissions                        300 non-null     object
 21  photo                              209222 non-null  object
 22  pledged                            209222 non-null  float64
 23  slug                               209222 non-null  object
 24  source_url                         209222 non-null  object
 25  spotlight                          209222 non-null  bool
 26  staff_pick                         209222 non-null  bool
 27  state                              209222 non-null  object
 28  state_changed_at                   209222 non-null  int64
 29  static_usd_rate                    209222 non-null  float64
 30  urls                               209222 non-null  object
 31  usd_pledged                        209222 non-null  float64
 32  usd_type                           208742 non-null  object
 33  id_category                        209222 non-null  int64
 34  category_sub                       209222 non-null  object
 35  category                           209222 non-null  object
 36  position                           209222 non-null  int64
 37  parent_id                          200181 non-null  float64
 38  color                              209222 non-null  int64
 39  urls_category                      209222 non-null  object
 40  id_creator                         209109 non-null  float64
 41  name_creator                       209109 non-null  object
 42  is_registered                      0 non-null       float64
 43  chosen_currency                    0 non-null       float64
 44  avatar                             125499 non-null  object
 45  urls_creator                       83610 non-null   object
 46  slug_creator                       64014 non-null   object
 47  id_location                        209114 non-null  float64
 48  name_location                      209114 non-null  object
 49  slug_location                      208622 non-null  object
 50  short_name                         209114 non-null  object
 51  displayable_name                   209114 non-null  object
 52  localized_name                     209114 non-null  object
 53  country_location                   209106 non-null  object
 54  state_location                     209054 non-null  object
 55  type                               209114 non-null  object
 56  is_root                            209114 non-null  float64
 57  urls_location                      209114 non-null  object
 58  id_profile                         205528 non-null  float64
 59  project_id                         205528 non-null  float64
 60  state_profile                      205528 non-null  object
 61  state_changed_at_profile           205528 non-null  float64
 62  name_profile                       42408 non-null   object
 63  blurb_profile                      42138 non-null   object
 64  background_color                   15457 non-null   object
 65  text_color                         16470 non-null   object
 66  link_background_color              18345 non-null   object
 67  link_text_color                    3272 non-null    object
 68  link_text                          41234 non-null   object
 69  link_url                           39752 non-null   object
 70  show_feature_image                 205528 non-null  float64
 71  background_image_opacity           205528 non-null  float64
 72  should_show_feature_image_section  205528 non-null  float64
 73  feature_image_attributes           200854 non-null  object
 74  background_image_attributes        12863 non-null   object
dtypes: bool(5), float64(17), int64(10), object(43)
memory usage: 112.7+ MB

In [17]:
# delete first column
df.drop(['Unnamed: 0'],axis=1,inplace=True);

# rename some columns
df.rename(columns={'name_category':'category_sub','slug_category':'category','blurb':'description'},inplace=True)

#### Timestamps are in Unix time and have to be converted --> next cell

In [18]:
# create function for format change
# we could also use lambda x: datetime.utcfromtimestamp(x)
from datetime import datetime

def chg_date(x):
    return datetime.utcfromtimestamp(x)

# apply on dataframe

time_cols = ['created_at','deadline','state_changed_at','launched_at']
df[time_cols] = df[time_cols].applymap(chg_date)

## Basic Feature Engineering

- Parsing 'blurb', i.e. description of project for keywords might be useful but is a the moment timewise not feasible. Instead use only the length of the description
- In order to compare pledge goals we convert them to USD
- Create duration of project as possible indicator

In [19]:
######### First feature engineering

# Replace short description of project with length of description
df['description'] = df['description'].apply(lambda x: len(str(x).split()))

# convert all goals into USD
df = df.eval('usd_goal = static_usd_rate * goal')

# create duration of project
df['duration'] = df['deadline'] - df['launched_at']
df['duration_days']=df['duration'].dt.days

# create year and month in which project ist started
df['start_month']= df['launched_at'].dt.month
df['start_year']= df['launched_at'].dt.year

# split text in column category, keep only left part of string --> main category
df.category = df.category.apply(lambda x: x.split('/')[0])

# change to lower case string
df.category_sub = df.category_sub.str.lower()

In [20]:
features = ['description','duration_days','currency','usd_goal','country','staff_pick','category','category_sub','start_month']
target = df['state']
df[features]

,description,duration_days,currency,usd_goal,country,staff_pick,category,category_sub,start_month
0,20,60,USD,5000.000000,US,False,games,live games,4
1,15,30,USD,6000.000000,US,False,film & video,drama,8
2,19,30,USD,10000.000000,US,False,film & video,experimental,7
3,25,30,USD,8000.000000,US,False,journalism,journalism,5
4,11,30,USD,2000.000000,US,False,games,mobile games,9
...,...,...,...,...,...,...,...,...,...
209217,22,31,GBP,1468.271390,GB,False,theater,festivals,6
209218,15,29,GBP,718.323248,GB,False,fashion,accessories,2
209219,13,30,USD,30000.000000,US,False,fashion,footwear,6
209220,10,33,USD,10000.000000,US,False,fashion,footwear,8
209221,13,14,USD,1200.000000,US,False,music,electronic music,2